.distortion-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 300ms ease, transform 300ms ease;
}

.distortion-container canvas {
  width: 100% !important;
  height: 100% !important;
}
