---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center group self-center ml-2 rtl:ml-0 rtl:mr-2">
  <div class="relative overflow-hidden rounded-lg p-0.5 mr-2 bg-gradient-to-r from-primary-400 to-secondary-400" style="aspect-ratio: 16/9; min-height: 60px ;max-height: 60px;">
    <img src="/lacslogo.webp" class="w-full h-full object-cover transform group-hover:scale-110 transition-transform duration-300" alt="领创工作室Logo" style="aspect-ratio: 16/9;">
  </div>
</div>